<ion-header>
  <ion-toolbar>
    <ion-title>
      Acerca de Bex
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    Bex es una aplicación para los alumnos de la Universidad de Guadalajara.
  </p>
  <p>
    Permite consultar el estado del tiempo en la ciudad, revisar una lista de
    noticias, administrar su horario y obtener la ubicación de los edificios
    donde toma clases.
  </p>
</ion-content>

<ion-footer padding>
  <button ion-button full (click)="dismiss()">Cerrar</button>
</ion-footer>
