<ion-content padding>
  <div id="header">
    <div id="app_about">
      <button ion-button small clear icon-only (click)="showAbout()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </div>
    <div id="app_name">
      <h1>Bex</h1>
    </div>
  </div>

  <img src="assets/imgs/udg_logo.png" alt="Logo UDG">

  <ion-list>
    <ion-item>
      <ion-label floating>Código</ion-label>
      <ion-input [(ngModel)]="code" type="tel" maxlength="9"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>NIP</ion-label>
      <ion-input [(ngModel)]="nip" type="password"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer padding no-border>
    <button ion-button block (click)="logIn()">Ingresar</button>
</ion-footer>
