<ion-tabs>
  <ion-tab [root]="homeTab" tabTitle="Inicio" tabIcon="home"></ion-tab>
  <ion-tab [root]="newsTab" tabTitle="Noticias" tabIcon="paper"></ion-tab>
  <ion-tab [root]="scheduleTab" [rootParams]="student"
           tabTitle="Horario" tabIcon="time">
  </ion-tab>
</ion-tabs>
