<ion-header>
  <ion-navbar>
    <ion-title>Inicio</ion-title>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list-header>
    Estado del tiempo
  </ion-list-header>
  <div id="weatherCont">
    <button ion-button clear block icon-right id="weatherButton"
            (click)="fetchWeather()">
      {{weatherTemp}}°C
      <ion-icon [name]="weatherIcon" class="wi"></ion-icon>
    </button>
    <p id="weatherTime">{{weatherTime}}</p>
  </div>
  <ion-list-header (click)="fetchImgs()">
    Imágenes
  </ion-list-header>
  <div id="imgsCont">
    <ion-scroll scrollY="true" *ngIf="imgs.length > 0; else no_imgs">
      <img *ngFor="let i of imgs"
            src="data:image/png;base64,{{i.data}}"
            alt="{{i.name}}">
    </ion-scroll>
  </div>
</ion-content>

<ng-template #no_imgs>
  <ion-icon name="images" isActive="false" color="primary"></ion-icon>
  <h6>Sin imágenes</h6>
</ng-template>
