page-home {
    ion-list-header {
        height: 10%;
    }
    #weatherCont {
        height: 30%;
        #weatherButton {
            height: 90%;
            margin: 0px;
            font-size: 2em;
            ion-icon {
                font-size: 4em;
                padding-left: 25px;
            }
        }
        #weatherTime {
            height: 10%;
            margin: 0px;
            padding-right: 28px;
            text-align: right;
            transform: translateY(-100%);
        }
    }
    #imgsCont {
        height: 50%;
        text-align: center;
        ion-scroll {
            height: 100%;
        }
        ion-icon {
            font-size: 10em;
        }
        h6 {
            margin: 0px;
            color: color($colors, primary)
        }
    }
}
