/*!
 *  Weather Icons 2.0.8
 *  Updated September 19, 2015
 *  Weather themed icons for Bootstrap
 *  Author - Erik Flowers - erik@helloerik.com
 *  Email: erik@helloerik.com
 *  Twitter: http://twitter.com/Erik_UX
 *  ------------------------------------------------------------------------------
 *  Maintained at http://erikflowers.github.io/weather-icons
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - Font licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - CSS, SCSS and LESS are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Inspired by and works great as a companion with Font Awesome
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 */
 @mixin makeIcon($arg, $val) {
  .wi-#{$arg}:before,
  .ion-ios-wi-#{$arg}:before,
  .ion-md-wi-#{$arg}:before,
  .ion-wp-wi-#{$arg}:before {
    content: $val;
  }
}
@font-face {
  font-family: 'weathericons';
  src: url('../assets/fonts/weathericons-regular-webfont.eot');
  src: url('../assets/fonts/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/weathericons-regular-webfont.woff2') format('woff2'), url('../assets/fonts/weathericons-regular-webfont.woff') format('woff'), url('../assets/fonts/weathericons-regular-webfont.ttf') format('truetype'), url('../assets/fonts/weathericons-regular-webfont.svg#weather_iconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.wi {
  display: inline-block;
  font-family: 'weathericons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wi-fw {
  text-align: center;
  width: 1.4em;
}
.wi-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.wi-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wi-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.wi-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.wi-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
@include makeIcon(day-sunny, '\f00d');
@include makeIcon(day-cloudy, '\f002');
@include makeIcon(day-cloudy-gusts, '\f000');
@include makeIcon(day-cloudy-windy, '\f001');
@include makeIcon(day-fog, '\f003');
@include makeIcon(day-hail, '\f004');
@include makeIcon(day-haze, '\f0b6');
@include makeIcon(day-lightning, '\f005');
@include makeIcon(day-rain, '\f008');
@include makeIcon(day-rain-mix, '\f006');
@include makeIcon(day-rain-wind, '\f007');
@include makeIcon(day-showers, '\f009');
@include makeIcon(day-sleet, '\f0b2');
@include makeIcon(day-sleet-storm, '\f068');
@include makeIcon(day-snow, '\f00a');
@include makeIcon(day-snow-thunderstorm, '\f06b');
@include makeIcon(day-snow-wind, '\f065');
@include makeIcon(day-sprinkle, '\f00b');
@include makeIcon(day-storm-showers, '\f00e');
@include makeIcon(day-sunny-overcast, '\f00c');
@include makeIcon(day-thunderstorm, '\f010');
@include makeIcon(day-windy, '\f085');
@include makeIcon(solar-eclipse, '\f06e');
@include makeIcon(hot, '\f072');
@include makeIcon(day-cloudy-high, '\f07d');
@include makeIcon(day-light-wind, '\f0c4');
@include makeIcon(night-clear, '\f02e');
@include makeIcon(night-alt-cloudy, '\f086');
@include makeIcon(night-alt-cloudy-gusts, '\f022');
@include makeIcon(night-alt-cloudy-windy, '\f023');
@include makeIcon(night-alt-hail, '\f024');
@include makeIcon(night-alt-lightning, '\f025');
@include makeIcon(night-alt-rain, '\f028');
@include makeIcon(night-alt-rain-mix, '\f026');
@include makeIcon(night-alt-rain-wind, '\f027');
@include makeIcon(night-alt-showers, '\f029');
@include makeIcon(night-alt-sleet, '\f0b4');
@include makeIcon(night-alt-sleet-storm, '\f06a');
@include makeIcon(night-alt-snow, '\f02a');
@include makeIcon(night-alt-snow-thunderstorm, '\f06d');
@include makeIcon(night-alt-snow-wind, '\f067');
@include makeIcon(night-alt-sprinkle, '\f02b');
@include makeIcon(night-alt-storm-showers, '\f02c');
@include makeIcon(night-alt-thunderstorm, '\f02d');
@include makeIcon(night-cloudy, '\f031');
@include makeIcon(night-cloudy-gusts, '\f02f');
@include makeIcon(night-cloudy-windy, '\f030');
@include makeIcon(night-fog, '\f04a');
@include makeIcon(night-hail, '\f032');
@include makeIcon(night-lightning, '\f033');
@include makeIcon(night-partly-cloudy, '\f083');
@include makeIcon(night-rain, '\f036');
@include makeIcon(night-rain-mix, '\f034');
@include makeIcon(night-rain-wind, '\f035');
@include makeIcon(night-showers, '\f037');
@include makeIcon(night-sleet, '\f0b3');
@include makeIcon(night-sleet-storm, '\f069');
@include makeIcon(night-snow, '\f038');
@include makeIcon(night-snow-thunderstorm, '\f06c');
@include makeIcon(night-snow-wind, '\f066');
@include makeIcon(night-sprinkle, '\f039');
@include makeIcon(night-storm-showers, '\f03a');
@include makeIcon(night-thunderstorm, '\f03b');
@include makeIcon(lunar-eclipse, '\f070');
@include makeIcon(stars, '\f077');
@include makeIcon(storm-showers, '\f01d');
@include makeIcon(thunderstorm, '\f01e');
@include makeIcon(night-alt-cloudy-high, '\f07e');
@include makeIcon(night-cloudy-high, '\f080');
@include makeIcon(night-alt-partly-cloudy, '\f081');
@include makeIcon(cloud, '\f041');
@include makeIcon(cloudy, '\f013');
@include makeIcon(cloudy-gusts, '\f011');
@include makeIcon(cloudy-windy, '\f012');
@include makeIcon(fog, '\f014');
@include makeIcon(hail, '\f015');
@include makeIcon(rain, '\f019');
@include makeIcon(rain-mix, '\f017');
@include makeIcon(rain-wind, '\f018');
@include makeIcon(showers, '\f01a');
@include makeIcon(sleet, '\f0b5');
@include makeIcon(snow, '\f01b');
@include makeIcon(sprinkle, '\f01c');
@include makeIcon(storm-showers, '\f01d');
@include makeIcon(thunderstorm, '\f01e');
@include makeIcon(snow-wind, '\f064');
@include makeIcon(snow, '\f01b');
@include makeIcon(smog, '\f074');
@include makeIcon(smoke, '\f062');
@include makeIcon(lightning, '\f016');
@include makeIcon(raindrops, '\f04e');
@include makeIcon(raindrop, '\f078');
@include makeIcon(dust, '\f063');
@include makeIcon(snowflake-cold, '\f076');
@include makeIcon(windy, '\f021');
@include makeIcon(strong-wind, '\f050');
@include makeIcon(sandstorm, '\f082');
@include makeIcon(earthquake, '\f0c6');
@include makeIcon(fire, '\f0c7');
@include makeIcon(flood, '\f07c');
@include makeIcon(meteor, '\f071');
@include makeIcon(tsunami, '\f0c5');
@include makeIcon(volcano, '\f0c8');
@include makeIcon(hurricane, '\f073');
@include makeIcon(tornado, '\f056');
@include makeIcon(small-craft-advisory, '\f0cc');
@include makeIcon(gale-warning, '\f0cd');
@include makeIcon(storm-warning, '\f0ce');
@include makeIcon(hurricane-warning, '\f0cf');
@include makeIcon(wind-direction, '\f0b1');
@include makeIcon(alien, '\f075');
@include makeIcon(celsius, '\f03c');
@include makeIcon(fahrenheit, '\f045');
@include makeIcon(degrees, '\f042');
@include makeIcon(thermometer, '\f055');
@include makeIcon(thermometer-exterior, '\f053');
@include makeIcon(thermometer-internal, '\f054');
@include makeIcon(cloud-down, '\f03d');
@include makeIcon(cloud-up, '\f040');
@include makeIcon(cloud-refresh, '\f03e');
@include makeIcon(horizon, '\f047');
@include makeIcon(horizon-alt, '\f046');
@include makeIcon(sunrise, '\f051');
@include makeIcon(sunset, '\f052');
@include makeIcon(moonrise, '\f0c9');
@include makeIcon(moonset, '\f0ca');
@include makeIcon(refresh, '\f04c');
@include makeIcon(refresh-alt, '\f04b');
@include makeIcon(umbrella, '\f084');
@include makeIcon(barometer, '\f079');
@include makeIcon(humidity, '\f07a');
@include makeIcon(na, '\f07b');
@include makeIcon(train, '\f0cb');
@include makeIcon(moon-new, '\f095');
@include makeIcon(moon-waxing-crescent-1, '\f096');
@include makeIcon(moon-waxing-crescent-2, '\f097');
@include makeIcon(moon-waxing-crescent-3, '\f098');
@include makeIcon(moon-waxing-crescent-4, '\f099');
@include makeIcon(moon-waxing-crescent-5, '\f09a');
@include makeIcon(moon-waxing-crescent-6, '\f09b');
@include makeIcon(moon-first-quarter, '\f09c');
@include makeIcon(moon-waxing-gibbous-1, '\f09d');
@include makeIcon(moon-waxing-gibbous-2, '\f09e');
@include makeIcon(moon-waxing-gibbous-3, '\f09f');
@include makeIcon(moon-waxing-gibbous-4, '\f0a0');
@include makeIcon(moon-waxing-gibbous-5, '\f0a1');
@include makeIcon(moon-waxing-gibbous-6, '\f0a2');
@include makeIcon(moon-full, '\f0a3');
@include makeIcon(moon-waning-gibbous-1, '\f0a4');
@include makeIcon(moon-waning-gibbous-2, '\f0a5');
@include makeIcon(moon-waning-gibbous-3, '\f0a6');
@include makeIcon(moon-waning-gibbous-4, '\f0a7');
@include makeIcon(moon-waning-gibbous-5, '\f0a8');
@include makeIcon(moon-waning-gibbous-6, '\f0a9');
@include makeIcon(moon-third-quarter, '\f0aa');
@include makeIcon(moon-waning-crescent-1, '\f0ab');
@include makeIcon(moon-waning-crescent-2, '\f0ac');
@include makeIcon(moon-waning-crescent-3, '\f0ad');
@include makeIcon(moon-waning-crescent-4, '\f0ae');
@include makeIcon(moon-waning-crescent-5, '\f0af');
@include makeIcon(moon-waning-crescent-6, '\f0b0');
@include makeIcon(moon-alt-new, '\f0eb');
@include makeIcon(moon-alt-waxing-crescent-1, '\f0d0');
@include makeIcon(moon-alt-waxing-crescent-2, '\f0d1');
@include makeIcon(moon-alt-waxing-crescent-3, '\f0d2');
@include makeIcon(moon-alt-waxing-crescent-4, '\f0d3');
@include makeIcon(moon-alt-waxing-crescent-5, '\f0d4');
@include makeIcon(moon-alt-waxing-crescent-6, '\f0d5');
@include makeIcon(moon-alt-first-quarter, '\f0d6');
@include makeIcon(moon-alt-waxing-gibbous-1, '\f0d7');
@include makeIcon(moon-alt-waxing-gibbous-2, '\f0d8');
@include makeIcon(moon-alt-waxing-gibbous-3, '\f0d9');
@include makeIcon(moon-alt-waxing-gibbous-4, '\f0da');
@include makeIcon(moon-alt-waxing-gibbous-5, '\f0db');
@include makeIcon(moon-alt-waxing-gibbous-6, '\f0dc');
@include makeIcon(moon-alt-full, '\f0dd');
@include makeIcon(moon-alt-waning-gibbous-1, '\f0de');
@include makeIcon(moon-alt-waning-gibbous-2, '\f0df');
@include makeIcon(moon-alt-waning-gibbous-3, '\f0e0');
@include makeIcon(moon-alt-waning-gibbous-4, '\f0e1');
@include makeIcon(moon-alt-waning-gibbous-5, '\f0e2');
@include makeIcon(moon-alt-waning-gibbous-6, '\f0e3');
@include makeIcon(moon-alt-third-quarter, '\f0e4');
@include makeIcon(moon-alt-waning-crescent-1, '\f0e5');
@include makeIcon(moon-alt-waning-crescent-2, '\f0e6');
@include makeIcon(moon-alt-waning-crescent-3, '\f0e7');
@include makeIcon(moon-alt-waning-crescent-4, '\f0e8');
@include makeIcon(moon-alt-waning-crescent-5, '\f0e9');
@include makeIcon(moon-alt-waning-crescent-6, '\f0ea');
@include makeIcon(moon-0, '\f095');
@include makeIcon(moon-1, '\f096');
@include makeIcon(moon-2, '\f097');
@include makeIcon(moon-3, '\f098');
@include makeIcon(moon-4, '\f099');
@include makeIcon(moon-5, '\f09a');
@include makeIcon(moon-6, '\f09b');
@include makeIcon(moon-7, '\f09c');
@include makeIcon(moon-8, '\f09d');
@include makeIcon(moon-9, '\f09e');
@include makeIcon(moon-10, '\f09f');
@include makeIcon(moon-11, '\f0a0');
@include makeIcon(moon-12, '\f0a1');
@include makeIcon(moon-13, '\f0a2');
@include makeIcon(moon-14, '\f0a3');
@include makeIcon(moon-15, '\f0a4');
@include makeIcon(moon-16, '\f0a5');
@include makeIcon(moon-17, '\f0a6');
@include makeIcon(moon-18, '\f0a7');
@include makeIcon(moon-19, '\f0a8');
@include makeIcon(moon-20, '\f0a9');
@include makeIcon(moon-21, '\f0aa');
@include makeIcon(moon-22, '\f0ab');
@include makeIcon(moon-23, '\f0ac');
@include makeIcon(moon-24, '\f0ad');
@include makeIcon(moon-25, '\f0ae');
@include makeIcon(moon-26, '\f0af');
@include makeIcon(moon-27, '\f0b0');
@include makeIcon(time-1, '\f08a');
@include makeIcon(time-2, '\f08b');
@include makeIcon(time-3, '\f08c');
@include makeIcon(time-4, '\f08d');
@include makeIcon(time-5, '\f08e');
@include makeIcon(time-6, '\f08f');
@include makeIcon(time-7, '\f090');
@include makeIcon(time-8, '\f091');
@include makeIcon(time-9, '\f092');
@include makeIcon(time-10, '\f093');
@include makeIcon(time-11, '\f094');
@include makeIcon(time-12, '\f089');
@include makeIcon(direction-up, '\f058');
@include makeIcon(direction-up-right, '\f057');
@include makeIcon(direction-right, '\f04d');
@include makeIcon(direction-down-right, '\f088');
@include makeIcon(direction-down, '\f044');
@include makeIcon(direction-down-left, '\f043');
@include makeIcon(direction-left, '\f048');
@include makeIcon(direction-up-left, '\f087');
@include makeIcon(wind-beaufort-0, '\f0b7');
@include makeIcon(wind-beaufort-1, '\f0b8');
@include makeIcon(wind-beaufort-2, '\f0b9');
@include makeIcon(wind-beaufort-3, '\f0ba');
@include makeIcon(wind-beaufort-4, '\f0bb');
@include makeIcon(wind-beaufort-5, '\f0bc');
@include makeIcon(wind-beaufort-6, '\f0bd');
@include makeIcon(wind-beaufort-7, '\f0be');
@include makeIcon(wind-beaufort-8, '\f0bf');
@include makeIcon(wind-beaufort-9, '\f0c0');
@include makeIcon(wind-beaufort-10, '\f0c1');
@include makeIcon(wind-beaufort-11, '\f0c2');
@include makeIcon(wind-beaufort-12, '\f0c3');
@include makeIcon(yahoo-0, '\f056');
@include makeIcon(yahoo-1, '\f00e');
@include makeIcon(yahoo-2, '\f073');
@include makeIcon(yahoo-3, '\f01e');
@include makeIcon(yahoo-4, '\f01e');
@include makeIcon(yahoo-5, '\f017');
@include makeIcon(yahoo-6, '\f017');
@include makeIcon(yahoo-7, '\f017');
@include makeIcon(yahoo-8, '\f015');
@include makeIcon(yahoo-9, '\f01a');
@include makeIcon(yahoo-10, '\f015');
@include makeIcon(yahoo-11, '\f01a');
@include makeIcon(yahoo-12, '\f01a');
@include makeIcon(yahoo-13, '\f01b');
@include makeIcon(yahoo-14, '\f00a');
@include makeIcon(yahoo-15, '\f064');
@include makeIcon(yahoo-16, '\f01b');
@include makeIcon(yahoo-17, '\f015');
@include makeIcon(yahoo-18, '\f017');
@include makeIcon(yahoo-19, '\f063');
@include makeIcon(yahoo-20, '\f014');
@include makeIcon(yahoo-21, '\f021');
@include makeIcon(yahoo-22, '\f062');
@include makeIcon(yahoo-23, '\f050');
@include makeIcon(yahoo-24, '\f050');
@include makeIcon(yahoo-25, '\f076');
@include makeIcon(yahoo-26, '\f013');
@include makeIcon(yahoo-27, '\f031');
@include makeIcon(yahoo-28, '\f002');
@include makeIcon(yahoo-29, '\f031');
@include makeIcon(yahoo-30, '\f002');
@include makeIcon(yahoo-31, '\f02e');
@include makeIcon(yahoo-32, '\f00d');
@include makeIcon(yahoo-33, '\f083');
@include makeIcon(yahoo-34, '\f00c');
@include makeIcon(yahoo-35, '\f017');
@include makeIcon(yahoo-36, '\f072');
@include makeIcon(yahoo-37, '\f00e');
@include makeIcon(yahoo-38, '\f00e');
@include makeIcon(yahoo-39, '\f00e');
@include makeIcon(yahoo-40, '\f01a');
@include makeIcon(yahoo-41, '\f064');
@include makeIcon(yahoo-42, '\f01b');
@include makeIcon(yahoo-43, '\f064');
@include makeIcon(yahoo-44, '\f00c');
@include makeIcon(yahoo-45, '\f00e');
@include makeIcon(yahoo-46, '\f01b');
@include makeIcon(yahoo-47, '\f00e');
@include makeIcon(yahoo-3200, '\f077');
