<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="profile">
      <img [src]="avatar" align="center" alt="Foto del alumno">
      <button ion-button block clear mini (click)="takePicture()"> Actualizar </button>
      <p> {{code}} </p>
      <p> {{name}} </p>
    </div>
  </ion-content>

  <ion-footer padding no-border>
      <button ion-button block color="secondary" (click)="showConfirm()">Logout</button>
  </ion-footer>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
