@import "../theme/icons";

.profile {
   width: 100%;
   height: 100%;
   text-align: center;
   padding-top: 10px;
}

 .profile img {
    max-width: 50%;
    align-content: center;
  }

.profile button {
  font-size: 10px;
}
