<ion-header>
  <ion-navbar>
    <ion-title>Noticias</ion-title>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let n of news" (click)="openNew(n)">
    <img src="data:image/png;base64,{{n.image}}"
         alt="{{n.title}}">
    <ion-card-content>
      <ion-card-title>
        {{n.title}}
      </ion-card-title>
      <p>{{n.intro.length > 125 ? n.intro.substr(0, 125) + "..." : n.intro}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
