page-news {
    ion-card {
        img {
            max-height: 200px;
            width: auto;
            margin: 5% auto 0 auto;
        }
        p {
            max-height: 75px;
        }
    }
}
