<ion-header>
  <ion-navbar>
    <ion-title>Noticia</ion-title>
    <ion-buttons start>
        <button ion-button icon-only (click)="dismiss()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{data.title}}</h1>
  <img src="data:image/png;base64,{{data.image}}" alt="{{data.title}}">
  <p class="intro">
    {{data.intro}}
  </p>
  <p>{{data.description}}</p>
</ion-content>
