<ion-header>
  <ion-navbar>
    <ion-title>Horario</ion-title>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-segment [(ngModel)]="currDay">
      <ion-segment-button value="1">
        Lun
      </ion-segment-button>
      <ion-segment-button value="2">
        Mar
      </ion-segment-button>
      <ion-segment-button value="3">
        Mié
      </ion-segment-button>
      <ion-segment-button value="4">
        Jue
      </ion-segment-button>
      <ion-segment-button value="5">
        Vie
      </ion-segment-button>
      <ion-segment-button value="6">
        Sáb
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="currDay" class="class">
    <ion-list *ngSwitchCase="'1'">
      <ion-item *ngFor="let s of getDaySections('1')">
        <ion-item item-start class="rectangle"
                  [ngStyle]="{'background-color': s.color}">
        </ion-item>
        <p> {{s.time}} {{s.place}} </p>
        <h3>{{s.subject}}</h3>
        <p> {{s.teacher}} </p>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'2'">
      <ion-item *ngFor="let s of getDaySections('2')">
        <ion-item item-start class="rectangle"
                  [ngStyle]="{'background-color': s.color}">
        </ion-item>
        <p> {{s.time}} {{s.place}} </p>
        <h3>{{s.subject}}</h3>
        <p> {{s.teacher}} </p>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'3'">
      <ion-item *ngFor="let s of getDaySections('3')">
        <ion-item item-start class="rectangle"
                  [ngStyle]="{'background-color': s.color}">
        </ion-item>
        <p> {{s.time}} {{s.place}} </p>
        <h3>{{s.subject}}</h3>
        <p> {{s.teacher}} </p>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'4'">
      <ion-item *ngFor="let s of getDaySections('4')">
        <ion-item item-start class="rectangle"
                  [ngStyle]="{'background-color': s.color}">
        </ion-item>
        <p> {{s.time}} {{s.place}} </p>
        <h3>{{s.subject}}</h3>
        <p> {{s.teacher}} </p>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'5'">
      <ion-item *ngFor="let s of getDaySections('5')">
        <ion-item item-start class="rectangle"
                  [ngStyle]="{'background-color': s.color}">
        </ion-item>
        <p> {{s.time}} {{s.place}} </p>
        <h3>{{s.subject}}</h3>
        <p> {{s.teacher}} </p>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'6'">
      <ion-item *ngFor="let s of getDaySections('6')">
        <ion-item item-start class="rectangle"
                  [ngStyle]="{'background-color': s.color}">
        </ion-item>
        <p> {{s.time}} {{s.place}} </p>
        <h3>{{s.subject}}</h3>
        <p> {{s.teacher}} </p>
      </ion-item>
    </ion-list>
  </div>
  <div class="add-button">
    <ion-fab bottom right>
      <button ion-fab mini (click)="addNrc()">+</button>
    </ion-fab>
  </div>
</ion-content>
